<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="tc,design,diseño, interiores,Estudio,asesoramiento,fabricacion">
    <meta name="description" content="tc design estudio de diseño de interiores-error">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../scss/style.css">
    <title>Error-TC Estudio.com</title>
</head>
<body class="body__error">
    <main class="main__error">
        <div class="error__text">
            <h1 class="error__text-h1"> 404.</h1>
            <h2 class="error__text-h2 heading-3">Oops... no se ha encontrado esta pagina</h2>
            <p class="error__text-p text-5"> Te recomendamos que vuelvas a la pagina principal mientras arreglamos el problema.</p>
            <button type="button" class="error__text-btm btn btn-outline-dark"><a href="../index.html"> Pagina Inicial</a></button>
        </div>
    </main>
        <footer class="footer">
            <div class="footer__instagram">
                <div class="footer__intagram-icon"> <i class="fab fa-instagram fa-2x" style="color: #3FAE8F;"></i></div>
                <div class="footer__instagram-text">
                <p class="text-6">@TC-Desgin</p> 
                </div>       
            </div>
            <div class="footer__mail">
                <div class="footer__mail-icon"><i class="far fa-envelope fa-2x" style="color: #3FAE8F;"></i></div>
                <div class="footer__mail-text">
                <p class="text-6">tcdesign@gmail.com</p>
                </div>
            </div>
            <div class="footer__telefono">
                <div class="footer__telefono-icon"><i class="fab fa-whatsapp fa-2x" style="color: #3FAE8F;" ></i></div>
                <div class="footer__telefono-text">
                <p class="text-6">+54351545454</p>
                </div>
            </div>
        
        </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init({
        offset:300,
        duration:900
    });
  </script>
</body>

</html>