<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="oficinas,estudio,diseño,interiores,proyectos,galeria">
    <meta name="description" content="tc design estudio de diseño de interiores">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../scss/style.css">
    <title>oficinas-TC Estudio.com</title>
</head>
<body>
        <header class="header-5">
            <div class="bg-dark">
                <div class="cotainer">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav w-100 justify-content-center">
                                    <a class="nav-link" href="../index.html">inicio</a>
                                    <a class="nav-link" href="./quienes-somos.html">quienes somos</a>
                                    <a class="nav-link" href="./Muebles.html">muebles</a>
                                    <a class="nav-link" href="./Casas.html">casas</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        
            <div  id="s1" class="text__header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <h1 class="text__header__h1">Oficinas <br><span class="text__header__span">Estudio de Diseño de Interiores</span></h1>
                            <p class="text__header__text">Es un orgullo para nosotros<br> construir un diseño de interiores elegante y destacado.</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="s2">
            <h3 class="heading-3 s2__heading">Galeria de proyectos recientes</h3>
                <!-- imgagen 1-->
                <section class="card" data-aos="fade-right">
                    <div class="card__imagen1">
                            <a class="card__imagen1-imagen img-link" href="#!" data-bs-toggle="modal" data-bs-target="#modalimagen1">
                                <img  class="img-fluid" src="../Assets/oficinas-3.jpg" alt="imagen de una casa"></a>
                        </div>
                    <div class="card__caption">
                            <h3 class="card__caption-heading3 heading-2">ING</h3>
                            <p class="card__caption-text1 text-6">El proyecto ING es uno muy interesante ya que se trata de una empresa de Ingenieria Industrial en la cual se trabajo con un estilo industrial.El estilo industrial se caracteriza por ser un estilo versátil, neutro y de carácter. En este sentido, los materiales protagonistas de éste son: la madera, el hormigón, el ladrillo, el hierro o el acero y el cuero. Como la base principal de este estilo es el blanco, el negro, el gris, y el marrón.</p>
                    </div>
                </section>
                <!--imagen 2 -->
                <section class="card" data-aos="fade-left">
                        <div class="card__caption">
                            <h3 class="card__caption-heading3 heading-2">TORU</h3>
                            <p class="card__caption-text1 text-6">El confort, algo escencial para lograr una buena comunicación. El proyecto Toru se realizo para una empresa de marketing digital. Especialmente una sala de reuniones dode se debaten y organizan los proyectos. Se trabajo en buscar un espacio ameno que fomente la buena comunicación, logrando asi obtener un espacio calido y con un gran confort.</p>
                        </div>
                            <div class="card__imagen2"> 
                                <a class="card__imagen2-imagen img-link" href="#!" data-bs-toggle="modal" data-bs-target="#modalimagen2">
                                    <img  class="img-fluid" src="../Assets/oficinas-4.jpg" alt="imagen de una casa"></a>
                            </div>
                    </section>
                <!--imagen 3 -->
                <section class="card" data-aos="fade-right">
                            <div class="card__imagen3"> 
                                <a class="card__imagen3-imagen img-link" href="#!" data-bs-toggle="modal" data-bs-target="#modalimagen3">
                                    <img  class="img-fluid" src="../Assets/oficinas-1.jpg" alt="imagen de una casa"></a>
                            </div>
                        <div class="card__caption">
                                <h3 class="card__caption-heading3 heading-2">MITRA</h3>
                                <p class="card__caption-text1 text-6">La belleza de la madera natural... este proyecto se realizo para una empresa de diseño grafico. Se busco obtener un diseño simple con mucha personalidad y estilo pero que no sea exagerado, ya que es un espacio donde se trabajan temas de diseño.</p>
                        </div>
                    </section>
                <!--imagen 4-->
                <section class="card" data-aos="fade-left">
                        <div class="card__caption">
                            <h3 class="card__caption-heading3 heading-2">TAURO</h3>
                            <p class="card__caption-text1 text-6">Con su diseño puro y minimalista se adapta a cualquier estilo de ambiente. Patas y estructura en terminaciones epóxicas negras. Opcion de patas de acero natural o negro y tapas en textura de madera. <br>El diseño amplio busca obtener un balance entre la comunicación del grupo de trabajo y la comodidad. </p>
                        </div>
                        <div class="card__imagen4">
                                <a class="card__imagen4-imagen img-link" href="#!" data-bs-toggle="modal" data-bs-target="#modalimagen4">
                                    <img  class="img-fluid" src="../Assets/oficinas-7.jpg" alt="imagen de una casa"></a>
                            </div>
                    </section>
            <!--Modal carousel -->
            <!--Imagen 1-->
            <div class="modal fade" tabindex="-1" aria-labelledby="modalimagen1" aria-hidden="true"
            id="modalimagen1">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Proyecto ING</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li> DI: Teresita Candela</li>
                            <li> Diseño: Industrial- versatil, neutro y de carácter. </li>
                            <li> Fabricación: Juan Ignacio López</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            <!--Imagen 1 end-->
            <!--Imagen 2-->
            <div class="modal fade" tabindex="-1" aria-labelledby="modalimagen2" aria-hidden="true"
                    id="modalimagen2">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Proyecto TORU</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li> DI: Teresita Candela</li>
                            <li> Diseño: calido, acogedor y simple</li>
                            <li> Fabricación: Juan Ignacio López</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
                </div>
                <!--Imagen 3-->
                <div class="modal fade" tabindex="-1" aria-labelledby="modalimagen3" aria-hidden="true"
                        id="modalimagen3">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Proyecto MITRA</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li> DI: Teresita Candela</li>
                            <li> Diseño: minimalista e inspirador, con la belleza de la madera natural </li>
                            <li> Fabricación: Miguel Rueda</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            <!--Imagen 3 end-->
            <!--Imagen 4-->
            <div class="modal fade" tabindex="-1" aria-labelledby="modalimagen4" aria-hidden="true"
            id="modalimagen4">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Proyecto TAURO</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li> DI: Teresita Candela</li>
                            <li> Diseño: Minimalista puro, escalable y adaptativo</li>
                            <li> Fabricación: Miguel Rueda</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            <!--Imagen 4 end-->
            <!-- Modale end-->
        </main>
            <footer class="footer">
                <div class="footer__instagram">
                    <div class="footer__intagram-icon"> <i class="fab fa-instagram fa-2x" style="color: #3FAE8F;"></i></div>
                    <div class="footer__instagram-text">
                    <p class="text-6">@TC-Desgin</p> 
                    </div>       
                </div>
                <div class="footer__mail">
                    <div class="footer__mail-icon"><i class="far fa-envelope fa-2x" style="color: #3FAE8F;"></i></div>
                    <div class="footer__mail-text">
                    <p class="text-6">tcdesign@gmail.com</p>
                    </div>
                </div>
                <div class="footer__telefono">
                    <div class="footer__telefono-icon"><i class="fab fa-whatsapp fa-2x" style="color: #3FAE8F;" ></i></div>
                    <div class="footer__telefono-text">
                    <p class="text-6">+543513195468</p>
                    </div>
                </div>
            
            </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init({
        offset:300,
        duration:900
    });
  </script>
</body>
</html>