<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="quienes,somos,estudio,diseño,interiores,mision,vision,valores">
    <meta name="description" content="tc design estudio de diseño de interiores">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../scss/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>quienes-somoms-TC Estudio.com</title>
</head>
<body>
        <header class="header-2">
            <div class="bg-dark">
                <div class="cotainer">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav w-100 justify-content-center">
                                    <a class="nav-link" href="../index.html">Inicio</a>
                                    <a class="nav-link" href="./Casas.html">casas</a>
                                    <a class="nav-link" href="./oficinas.html">Oficinas</a>
                                    <a class="nav-link" href="./Muebles.html">Muebles</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div  id="s1" class="text__header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <h1 class="text__header__h1">quienes somos <br><span class="text__header__span">Estudio de Diseño de Interiores</span></h1>
                            <p class="text__header__text">Es un orgullo para nosotros<br> construir un diseño de interiores elegante y destacado.</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class=" main__mision" data-aos="flip-up">
                <h2 class="main__mision-heading heading-3 text-6" >mision</h2>
                <p class="main__mision-text1 text-5">Somos una empresa que garantiza la profesionalidad y calidad de sus trabajos. Comprometidos con la satisfacción de los clientes, trabajadores y colaboradores, con el crecimiento social, la conservación del medio ambiente y con el desarrollo profesional y personal de nuestros trabajadores y trabajadoras</p>
            </div>

            <div class="main__vision" data-aos="flip-up">
                <h2 class="main__vision-heading heading-3 text-6">vision</h2>
                <p class="main__vision-text1 text-5">Ser una empresa de referencia, responsable, eficiente, comprometida con el medio ambiente y capaz de competir globalmente.</p>
            </div>
            <div class="main__valores">
                <h2 class="main__valores-heading2 heading-3 text-6"> Valores</h2>
            </div>
                <div class="main__val1" >
                    <i class="fas fa-key fa-3x" style="color: #3FAE8F;"></i>
                    <h3 class="main__val1__heading3 main__val1__heading3-resp">responsabilidad</h3>
                    <p class="main__val1__text main__val1__text-resp">Ofrecemos a cada cliente una vocación de servicio adaptada a sus necesidades y ponemos la arquitectura a su disposicion</p>
                </div>
                <div class="main__val2">
                    <i class="fas fa-briefcase fa-3x" style="color: #3FAE8F;" ></i>
                    <h3 class="main__val2__heading3 main__val2__heading3-vocacion">vocación</h3>
                    <p class="main__val2__text main__val2__text-vocacion">Basamos nuestro trabajo en la ilusión de hacer arquitectura. Proyecto a proyecto. Tarea a Tarea</p>
                </div>
                <div class="main__val3">
                    <i class="fas fa-pen fa-3x" style="color: #3FAE8F;"></i>
                    <h3 class="main__val3__heding3 main__val3__heding3-diseño">diseño</h3>
                    <p class="main__val3__text main__val3__text-diseño">Cada creación se sustenta en rigor por el trabajo bien hecho y el compromiso social y cultural que el proceso requiere</p>
                </div>
                <div class="main__val4">
                    <i class="far fa-calendar-alt fa-3x" style="color: #3FAE8F;" ></i>
                    <h3 class="main__val4__heding3 main__val__heding3-manag">management</h3>
                    <p class="main__val4__text main__val4__text-manag">Realizamos la gestión y control global de las obras, desde el inicio hasta su entrega, con seguimiento de la mano del cliente, continuo e ininterrumpido</p>
                </div>
                <div class="main__val5">
                    <i class="far fa-comments fa-3x" style="color: #3FAE8F;" ></i>
                    <h3 class="main__val5__heding3 main__val5__heding3-multi">mutidisciplinar</h3>
                    <p class="main__val5__text main__val5__text-mult">Contamos con un equipo multidisciplinario y una red de colaboradores externos en los diferentes ámbitos profesionales.</p>
                </div>
                <div class="main__val6">
                    <i class="fas fa-globe fa-3x" style="color: #3FAE8F;"></i>
                    <h3 class="main__val6__heding3 main__val6__heding3-plural">plural</h3>
                    <p class="main__val6__text main__val6__text-plural">El conocimiento del oficio desde diferentes perspectivas nos enriquece. ¿La fórmula? Englobar experiencia con innovación y eliminar fronteras</p>
                </div>
                <div class="main__val7">
                    <i class="fab fa-battle-net fa-3x" style="color: #3FAE8F;"></i>
                    <h3 class="main__val7__heding3 main__val7__heding3-inovacion">inovacion</h3>
                    <p class="main__val7__text main__val7__text-inovacion">Entendemos la profesión como un escenario heterogéneo en continuo cambio. La docencia y las innovaciones tecnológicas son nuestras herramientas para seguir el cambio</p>
                </div>
                <div class="main__val8">
                    <i class="fas fa-fan fa-3x" style="color: #3FAE8F;"></i>
                    <h3 class="main__val8__heding3 mian__val8__heding3-sosten">sostenibilidad</h3>
                    <p class="main__val8__text main__val8__text-sosten">Entendemos la profesión como un escenario heterogéneo en continuo cambio. La docencia y las innovaciones tecnológicas son nuestras herramientas para seguir el cambio.</p>
                </div>
        </main>
    <footer class="footer">
        <div class="footer__instagram">
            <div class="footer__intagram-icon"> <i class="fab fa-instagram fa-2x" style="color: #3FAE8F;"></i></div>
            <div class="footer__instagram-text">
            <p class="text-6">@TC-Desgin</p> 
            </div>       
        </div>
        <div class="footer__mail">
            <div class="footer__mail-icon"><i class="far fa-envelope fa-2x" style="color: #3FAE8F;"></i></div>
            <div class="footer__mail-text">
            <p class="text-6">tcdesign@gmail.com</p>
            </div>
        </div>
        <div class="footer__telefono">
            <div class="footer__telefono-icon"><i class="fab fa-whatsapp fa-2x" style="color: #3FAE8F;" ></i></div>
            <div class="footer__telefono-text">
            <p class="text-6">+543513195468</p>
            </div>
        </div>
    
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init({
        offset:200,
        duration:900
    });
  </script>
</body>
</html>